[package]
name = "ratatui-widgets"
version = "0.1.0"
authors = ["Joshka"]
description = "A set of widgets for the ratatui terminal UI library"
license = "MIT OR Apache-2.0"
repository = "https://github.com/joshka/ratatui-widgets"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "2.4.2"
crossterm = { version = "0.27.0", optional = true }
derive_builder = "0.13.0"
itertools = "0.12.0"
ratatui = "0.26.0-alpha.3"
strum = { version = "0.26.0", features = ["derive"] }
termion = { version = "3.0.0", optional = true }
termwiz = { version = "0.22.0", optional = true }
thiserror = "1.0.56"

[dev-dependencies]
color-eyre = "0.6.2"
rstest = "0.18.2"
strum = { version = "0.26.0", features = ["derive"] }

[features]
default = ["crossterm"]
